:root {
  --white-color: #f5efe6;
  --violet-color: #5f4bb6;
  --red-color: #ff6d6d;
  --green-color: #07c550;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--white-color);
  color: #001a29;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

#joke-container {
  display: flex;
  flex-direction: column;
  width: 580px;
  margin-top: 100px;
}

#get-a-joke-btn {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--violet-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 40px;
}

#flags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li {
  font-weight: 300;
  border-radius: 10px;
  padding: 5px 10px;
}

#flags li.false {
  background: #d8d4ed;
  color: #5f707c;
}

#flags li.true {
  background: var(--red-color);
  font-weight: 400;
}

.joke,
.delivery {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.setup {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.safe {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.unsafe {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.underline {
  width: 7rem;
  height: 0.25rem;
  background: var(--violet-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#green-dot {
  font-size: 72px;
  color: var(--green-color);
  margin-right: 5px;
  padding-bottom: 10px;
}

#red-dot {
  font-size: 72px;
  color: var(--red-color);
  margin-right: 5px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  #joke-container {
    width: 100%;
    height: auto;
    max-height: 80vh;
    padding: 40px;
    margin: 0 auto;
  }

  #flags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    margin: 5px 10px;
  }
}
